# fly.toml app configuration file generated for hwebs-info-static on 2025-11-10T18:30:49-06:00
#
# See https://fly.io/docs/reference/configuration/ for information about how to use this file.
#

app = 'hwebs-info-static'
primary_region = 'ord'

[http_service]
  internal_port = 80
  force_https = true
  auto_stop_machines = 'stop'
  auto_start_machines = true
  min_machines_running = 1
  processes = ['app']

[[vm]]
  memory = '256mb'
  cpu_kind = 'shared'
  cpus = 1
