.ul {
  list-style: outside none none;
  margin: 0;
  padding: 0;
}
.li {
  &:before {
    content: "➜";
    position: absolute;
    left: 0px;
  }
  position: relative;
  padding-left: 30px;
  margin-bottom: 10px;
}
