{{ define "content" }}
<h1>Blog</h1>
<section class="full-width">
    <ul class="unstyled-list">
        {{ range .Content }}
        <li>
            <article>
                <header>
                    <h2>
                        <a href="/blog/post/{{.Slug}}.html">{{.Title}}</a>
                    </h2>
                    <time datetime= "{{ formatHtmlDate .CreatedAt }}">{{ formatDate .CreatedAt }}</time>
                </header>
            </article>
        </li>
        {{ end }}
    </ul>
</section>
<!-- TODO add feed
<span><a href="/blog/feed">Subscribe via Atom</a></span>
-->
{{ end }}
