{{ define "content" }}
<h1>Blog</h1>
<table class="full-width">
    <tr>
        <th>Title</th>
        <th>Published Date</th>
    </tr>
    {{ range .Content }}
    <tr>
        <td>
            <a href="/blog/post/{{.Slug}}.html">{{.Title}}</a>
        </td>
        <td class="right-aligned">
            <time datetime= "{{ formatHtmlDate .CreatedAt }}">{{ formatDate .CreatedAt }}</time>
        </td>
    </tr>
    {{ end }}
</table>
<!-- TODO add feed
<span><a href="/blog/feed">Subscribe via Atom</a></span>
-->
{{ end }}
