<section class="full-width boxed">
    <header>
        <h2>Personal Code</h2>
    </header>
    <ul class="media-list">
        {{ range . }}
        <li>
            <a href="{{.CommitURL}}">{{.Message}}</a>
            <div class="meta-cluster">
                <a href="{{.RepoURL}}" class="repo-link">{{.RepoName}}</a>
                <time datetime= "{{ formatHtmlDatetime .CommittedAt }}">{{ formatDatetime .CommittedAt }}</time>
            </div>
        </li>
        {{ end }}
    </ul>
    <footer>
        <a href="https://github.com/henrywebster" target="_blank" rel="noopener">GitHub</a>
    </footer>
</section>
