<section class="half-width boxed">
    <header>
        <h2>Personal Code</h2>
    </header>
    <ul class="media-list">
        {{ range (datasource "commits") }}
        <li>
            <a href="{{.commit_url}}">{{.message}}</a>
            <div>
                <time datetime="{{ .committed_date }}">{{ (.committed_date | time.Parse "2006-01-02T15:04:05Z").Format "Jan 02, 2006"  }}</time>
                <span>(<a href="{{.repo_url}}">{{.repo_name}}</a>)</span>
            </div>
        </li>
        {{ end }}
    </ul>
    <footer>
        <a href="https://github.com/henrywebster" target="_blank" rel="noopener">GitHub</a>
    </footer>
</section>
