<section class="full-width boxed">
    <header>
        <h2>Personal Code</h2>
    </header>
    <table class="full-width collapsed">
        <tr>
            <th>Message</th>
            <th>Repo</th>
            <th>Datetime</th>
            {{ range . }}
        </tr>
        <tr>
            <td class="full-width">
                <a href="{{.CommitURL}}">{{.Message}}</a>
            </td>
            <td class="hide-mobile right-aligned">
                <a href="{{.RepoURL}}">{{.RepoName}}</a>
            </td>
            <td class="right-aligned">
                <time datetime= "{{ formatHtmlDatetime .CommittedAt }}">{{ formatDatetime .CommittedAt }}</time>
            </td>
        </tr>
        {{ end }}
    </table>
    <footer>
        <a href="https://github.com/henrywebster" target="_blank" rel="noopener">GitHub</a>
    </footer>
</section>
