<?xml version="1.0" encoding="UTF-8"?>
<feed xmlns="http://www.w3.org/2005/Atom">
<title>{{.Title}}</title>
<id>{{.ID}}</id>
<updated>{{.UpdatedAt}}</updated>
<link href="https://hwebs.info/blog/"></link>
{{range .Entries}}
<entry>
<title>{{.Title}}</title>
<id>{{.URL}}</id>
<updated>{{.UpdatedAt}}</updated>
<link href="{{.URL}}"></link>
<content>
    {{.Content}}
</content>
</entry>
{{end}}
</feed>
