<section id="music" class="full-width">
    <header>
        <h2>Music</h2>
    </header>
    <ul class="unstyled-list">
        {{ range . }}
        <li>
            <h3>{{ .name }}</h3>
            <ul class="unstyled-list album-list">
                {{ range .albums }}
                <li>
                    <img src="/static/{{ .cover }}" alt="{{ .name }} album cover">
                    <div>
                        <h4>{{ .name }}</h4>
                        <div>
                            <div>Released</div>
                            <time datetime="{{ .date_released }}">{{ (.date_released | time.Parse "2006-01-02").Format "Jan 02, 2006"  }}</time>
                        </div>
                        <div>
                            <span>Listen on</span>
                            <ul class="unstyled-list">
                                {{ range .links }}
                                <li>
                                    <a href="{{ .link }}">{{.service}}</a>
                                    {{ end}}
                                </ul>
                            </div>
                        </div>
                    </li>
                    {{ end }}
                </ul>
            </li>
            {{ end }}
        </ul>
    </section>
