{{define "content"}}
<article class="centered-grid">
    <heading>
    <h1>{{ .Content.Info.Title }}</h1>
    <time datetime="{{ .Content.Info.CreatedAt }}">{{ .Content.Info.CreatedAt }}</time>
    </heading>
    <div>{{ .Content.Content }}</div>
<footer>
    <div class="boxed">
        <header>
            <h2>Contact</h2>
        </header>
        <address>
            <a href= "mailto:henz.world.qv1ok@dralias.com">Email</a>
            <a href= "https://www.linkedin.com/in/hwebs/">LinkedIn</a>
        </address>
    </div>
</footer>
</article>
{{end}}
