{{define "content"}}
<article class="centered-grid">
    <heading>
        <h1>{{ .content.title }}</h1>
        <time datetime="{{ .content.date_created }}">{{ (.content.date_created | time.Parse "2006-01-02 15:04").Format "Jan 02, 2006"  }}</time>
    </heading>
    <div>{{ .content.content }}</div>
    <footer>
        <div class="boxed">
            <header>
                <h2>Contact</h2>
            </header>
            <address>
                <a href= "mailto:henz.world.qv1ok@dralias.com">Email</a>
                <a href= "https://www.linkedin.com/in/hwebs/">LinkedIn</a>
            </address>
        </div>
    </footer>
</article>
{{end}}

{{ template "layout" . }}
