<section class="half-width boxed">
    <header>
        <h2>Currently Reading</h2>
    </header>
    <ul class="media-list">
        {{ range (datasource "books") }}
        <li>
            <a href="{{.link}}"><em>{{.title}}</em></a>
            <span>by {{.author}}</span>
        </li>
        {{ end }}
    </ul>
</section>
