<section class="half-width boxed">
    <header>
        <h2>Currently Reading</h2>
    </header>
	<ul class="media-list">
        {{ range . }}
        <li>
            <a href="{{.URL}}"><em>{{.Title}}</em></a>
            <span>by {{.Author}}</span>
        </li>
        {{ end }}
    </ul>
</section>
