{{ $d := (datasource "data") }}
<section class="half-width boxed">
    <header>
        <h2>Latest Status</h2>
    </header>
    <div>{{ $d.content }}</div>
    <footer>
        <span>{{ $d.face}}</span>
        <span>{{ $d.timeAgo}}</span>
    </footer>
</section>
