<section class="half-width boxed">
    <header>
        <h2>Latest Status</h2>
    </header>
    <div>{{.Content}}</div>
    <footer>
        <span>{{.Face}}</span>
        <span>{{.TimeAgo}}</span>
    </footer>
</section>
