<section class="half-width boxed">
    <header>
        <h2>Updates</h2>
    </header>
    <ul class="update-list">
        {{ range . }}
        <li>
            <span>{{.Message}}</span>
            <time datetime= "{{ formatHtmlDatetime .PublishedAt }}">{{ formatDatetime .PublishedAt }}</time>
        </li>
        {{ end }}
    </ul>
</section>
