<section class="half-width boxed">
    <header>
        <h2>Recently Watched</h2>
    </header>
    <ul class="media-list">
        {{ range (datasource "films") }}
        <li>
            <a href="{{ .link }}"><em>{{ .title }}</em> ({{ .yearReleased }})</a>
            <time datetime="{{ .dateWatched }}">{{ (.dateWatched | time.Parse "2006-01-02").Format "Jan 02, 2006"  }}</time>
        </li>
        {{ end }}
    </ul>
</section>
